{
  "singleQuote": false,
  "semi": true,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "printWidth": 80,
  "arrowParens": "always",
  "endOfLine": "auto",

  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/index.css",
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindFunctions": ["clsx", "cn", "tw"],
  "tailwindPreserveWhitespace": true,
  "tailwindPreserveDuplicates": false
}
