@import "tailwindcss";

@config "../tailwind.config.ts";

:root {
  font-family: "Pretendard";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
}

@keyframes pulse-custom {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
    /* 크기를 늘리는 효과 */
  }
}

.animate-pulse-custom {
  animation: pulse-custom 1s infinite;
}

.delay-400 {
  animation-delay: 0.4s;
}

.delay-600 {
  animation-delay: 0.6s;
}

.delay-800 {
  animation-delay: 0.8s;
}

@layer base {
  * {
    @apply transition-transform duration-200 ease-in-out;
  }
}
